<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>WikiHowQA</title>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <link rel="stylesheet" type="text/css" href="base.css">
</head>

<body>
<div class="ui grid center aligned header-section">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui huge message center aligned page grid">
                <h1 class="ui huge header">WikiHowQA</h1>
            </div>
        </div>
    </div>
</div>

<div class="ui grid center aligned description-section">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui message center aligned page grid">
                <p><b>WikiHowQA</b> is a pioneering dataset set to redefine the landscape of Multi-Document Non-Factoid Question Answering (MD-NFQA). Drawing from the rich "how-to" content of the popular WikiHow website, WikiHowQA shines a spotlight on this underrepresented category in current MD-NFQA datasets.</p>
                <a class="ui blue button" href="data/ACL_MD_NFQA_dataset.pdf">Learn More &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div class="ui container fluid" style="margin-bottom: 3em;"></div>

{% block taskdescription %}
<p>Comprising 11,746 human-written answers and 74,527 supporting documents, WikiHowQA is more than a dataset; it's a springboard for researchers aiming to develop advanced QA systems.</p>
{% endblock %}

{% block taskdetail%}
<p>Our paper also unveils a unique human evaluation framework that smartly employs highlighted relevant supporting passages to circumvent common challenges in the field. Join us in exploring WikiHowQA, and together, let's shape the future of question answering systems.</p>
{% endblock %}

<br>
<div class="ui divider"></div>
<div class="ui vertical footer segment">
    <div class="ui container">
        © 2022 | <a href="https://github.com/Lurunchik/wikihowQA"> WikiHowQA on Github</a>
    </div>
</div>

</body>

</html>
