<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AutoWikiHow</title>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <link rel="stylesheet" type="text/css" href="base.css">
</head>

<body>
<div class="ui grid center aligned">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui huge message center aligned page grid">
                <h1 class="ui huge header">WikiHowQA</h1> <br>
                <p><b>WikiHowQA</b> is a resource containing six datasets all constructed from
                    <a href="https://www.wikihow.com/wikiHow:About-wikiHow">WikiHow web resource</a>.
                    There are several tasks including summarization, non-factoid QA...</p>
                <a class="ui blue button" href="../data/ACL_MD_NFQA_dataset.pdf">Paper &raquo;</a>

            </div>

        </div>
    </div>

</div>


<div class="ui container fluid" style="margin-bottom: 3em;"></div>

{% block taskdescription %}

{% endblock %}

{% block taskdetail%}

{% endblock %}

<br>
<div class="ui divider"></div>
<div class="ui vertical footer segment">
    <div class="ui container">
        © 2022 | <a href="https://github.com/Lurunchik/wikihowQA"> WikiHowQA on Github</a>
    </div>
</div>

</body>

</html>