<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AutoWikiHow</title>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <link rel="stylesheet" type="text/css" href="base.css">
</head>

<body>
  <div class="ui grid center aligned">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui huge message center aligned page grid">
                    <h1 class="ui huge header">AutoWikiHow</h1> <br>
                    <p><b>AutoWikiHow</b> is a resource containing datasets constructed from WikiHow.
                    There are several tasks including summarization, non-factoid QA...</p>
                    <a class="ui blue button">Paper &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container" style="margin-bottom: 3em;">
        <div class="ui five item secondary pointing menu">
            <a class="active item">
                <i class="database icon"></i>
                How-to step generation
            </a>
            <a class="item" onclick="location.href='task2.html'">
                <i class="chart bar outline icon"></i>
                Task2
            </a>
            <a class="item" onclick="location.href='task2.html'">
                <i class="chart bar outline icon"></i>
                Task3
            </a>
            <a class="item" onclick="location.href='task2.html'">
                <i class="chart bar outline icon"></i>
                Task4
            </a>
            <a class="item" onclick="location.href='task2.html'">
                <i class="chart bar outline icon"></i>
                Task5
            </a>
        </div>
    </div>

    {% block content%}

    {% endblock %}

<br>
<div class="ui divider"></div>
<div class="ui vertical footer segment">
    <div class="ui container">
        © 2022 | <a href="https://github.com/Lurunchik/autowikihow">AutoWikiHow on Github</a>
    </div>
</div>

</body>

</html>