{% extends "task1.html" %}

{% block taskdetail%}
<div class="ui container" style="margin-bottom: 3em;">
    <div class="ui three item secondary pointing menu">
        <a class="item" onclick="location.href='index.html'">
            <i class="database icon"></i>
            Dataset
        </a>
        <a class="active item" onclick="location.href='exploretask1.html'">
            <i class="chart bar outline icon"></i>
            Explore
        </a>
        <a class="item" onclick="location.href='download.html'">
            <i class="cloud download icon"></i>
            Download</a>
    </div>
</div>
<div class="ui stackable grid container">
    <div class="eight wide column">
        {% include 'top20task1.html' %}
    </div>
</div>
{% endblock %}
