{% extends "base.html" %}

{% block content %}

<div class="ui stackable grid container">
    <div class="wide column">
        <h4 class="ui top attached header">
            How-to generation step task
        </h4>
        <div class="ui segment attached">
            <p>Given a question and related HTML pages the goal is to generate n-step instruction</p>
            <p>The unique input is quesiton+html list </p>
        </div>
    </div>
</div>


{% block taskdetail%}

{% endblock %}

{% endblock %}
