{% extends "base.html" %}

{% block taskdescription %}

<div class="ui vertical stripe segment">
    <div class="ui container">
        <h3 class="ui header" id="task" >
            Multi-document Non-factoid Question Answering
        </h3>
        <p>Given a question and set of related documents the goal is to generate answer to a non-factoid question.</p>
    </div>

</div>
<!--    <div class="ui container" style="margin-top: 3em; margin-bottom: 3em;">-->

<!--        <div class="ui two item secondary pointing menu">-->
<!--            <a class="{{ active_task_dataset1 }} item" onclick="location.href='index.html'">-->
<!--                <i class="list ol icon"></i>-->
<!--                How-to step generation-->
<!--            </a>-->
<!--            <a class="{{ active_task_dataset2 }} item" onclick="location.href='dataset_task1_dataset2.html'">-->
<!--                <i class="align left icon"></i>-->
<!--                How-to passage answer-->
<!--            </a>-->

<!--        </div>-->
<!--    </div>-->

{% endblock %}


{% block taskdetail%}

{% endblock %}
