{% extends "base.html" %}

{% block taskdescription %}

<div class="ui vertical stripe segment">
    <div class="ui container">
        <h3 class="ui header" id="task" >
            Query-Focused multi-document summarization (qMDS)
        </h3>
        <p>Given a set of documents and query the task is to summarize the documents such as the summary will be relevant to a given query.</p>
    </div>

    <div class="ui container" style="margin-top: 3em; margin-bottom: 3em;">
        <div class="ui horizontal secondary center aligned header divider">Proposed datasets</div>
        <!--  <div class="ui center aligned secondary header" style="margin-top: 1em;">Proposed datasets for the task</div>-->

        <div class="ui two item secondary pointing menu">
            <a class="{{ active_task_dataset1 }} item" onclick="location.href='dataset_task2_dataset1.html'">
                <i class="list ol icon"></i>
                HowSumm Step Explicit Links
            </a>
            <a class="{{ active_task_dataset2 }} item" onclick="location.href='dataset_task2_dataset2.html'">
                <i class="align left icon"></i>
                HowSumm Step Description All Links
            </a>

        </div>
    </div>

{% endblock %}


{% block taskdetail%}

{% endblock %}
</div>
