{% extends "base.html" %}

{% block content %}

<div class="ui stackable grid container">
    <div class="wide column">
        <h4 class="ui top attached header">
            Generate a passage-level answer to a Instruction question from multiple documents.
        </h4>
        <div class="ui segment attached">
            <p>Given a question and related HTML pages the goal is to generate a passage-level answer</p>
            <p>The target answers in dataset are thorough passage-level summary of a full answer
                written by a wikihow article author</p>
        </div>
    </div>
</div>


{% block taskdetail%}

{% endblock %}

{% endblock %}
